<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Twitter_clone</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>以下の内容で、投稿する。</h1>
      </header>
      <article class="link_to_page">
        <div class = "submit_form">
          <%= form_with(model: @post, url: posts_path, local: true) do |form| %>
            <%= form.hidden_field :content %>
            <p>内容:<%= @post.content %></p>
            <%= form.submit  "投稿する" %>
            <%= form.submit "戻る", name: 'back' %>
          <% end %>
        </div>
      </article>
      <footer>
        <p>Homework.WEF2109<br>Kim sung joo</p>
      </footer>
    </div>
  </body>
</html>
