<h1>Twetter list</h1>
<p><%= notice %></p>
<table>
  <tr>
    <th>内容</th>
  </tr>
<% @posts.each do |post| %>
  <tr>
    <td><%= post.content %></td>
    <td><%= link_to '詳細に見る', post_path(post.id) %></td>
    <td><%= link_to '内容を修正', edit_post_path(post.id) %></td>
    <td><%= link_to '内容を削除', post_path(post.id), method: :delete %></td>
  </tr>
<% end %>
</table>
<%= link_to '新しく投稿する', new_post_path %>
